.nav_bar {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 20px;
    color: cornsilk;
    background-color: cornflowerblue;
    height: 50px;
    line-height: 45px;
    position: sticky;
}

